/.idea/shelf/Changes/shelved.patch
/.idea/shelf/Changes.xml
/.idea/shelf/Changes1.xml
/dqn.py
/utils/graph_conv.py
/log
/.idea/other.xml
/scratch/scratch.py
/.idea/shelf/Changes1/shelved.patch
/tgcn.py
/.idea/workspace.xml


.ipynb_checkpoints/
__pycache__/
 *.lp
/scratch/scractch2
/scratch/scratch3.py
/scratch/scratch4.py
/scratch/scratch5.py
/model_scratch.py
/scratch/
/result/
logs/
trained_models/